.container {
  max-width: 1660px;
  padding: 0 30px;
  margin: 0 auto;
  @media (max-width: 900px) {
    padding: 0;
  }
  @media (max-width: 900px) {
    padding: 0 5px;
  }
}
.product_info_container {
  display: grid;
  align-items: flex-start;
  grid-template-columns: minmax(500px, 1000px) minmax(500px, 650px);
  grid-template-areas:
    'present offer'
    'descr descr';
  gap: 50px;
  grid-gap: 50px;
  margin-top: 90px;
  // max-width: 1114px;
  max-width: 1360px;
  @media (max-width: 1150px) {
    margin-top: 20px;
  }
  @media (max-width: 1430px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.product_info_feed {
  border-top: 1px solid black;
  padding-top: 40px
}