.container {
  max-width: 1660px;
  padding: 0 30px;
  margin: 0 auto;
  @media (max-width: 1000px) {
    padding: 0 15px;
  }
  @media (max-width: 450px) {
    padding: 0 8px;
  }
}
.chapter__container {
  padding-bottom: 50px;
  .chapter__mt {
    margin-top: 100px;
    @media (max-width: 1150px) {
      margin-top: 30px;
    }
    @media (max-width: 500px) {
      margin-top: 60px;
    }
    @media (max-width: 400px) {
      margin-top: 45px;
    }
  }
}
